<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.hb.major.model.bbs.BbsDao">
  	<select id="bbsSelectAll" resultType="bbsbean" parameterType="int">
  	SELECT * FROM BBSLIST ORDER BY NO DESC;
  	</select>
  	
  	<select id="bbsSelectOne" parameterType="int" resultType="bbsbean">
  	SELECT * FROM BBSLIST WHERE NO=#{value}
  	</select>
  	
	<insert id="bbsInsertOne" parameterType="bbsbean">
  	INSERT INTO BBSLIST(nickName, university, dept, bookName, publisher, author, ISBN, costPrice, salePrice, view, status, day, title, content) VALUES (#{nickName}, #{university}, #{dept}, #{bookName}, #{publisher}, #{author}, #{ISBN}, #{costPrice}, #{salePrice}, #{view}, #{status}, now(), #{title}, #{content})
  	</insert>
  	
  	<update id="bbsUpdateOne" parameterType="bbsbean">
  	UPDATE BBSLIST SET UNIVERSITY=#{university}, DEPT=#{dept}, BOOKNAME=#{bookName}, PUBLISHER=#{publisher}, AUTHOR=#{author}, ISBN=#{ISBN}, COSTPRICE=#{costPrice}, SALEPRICE=#{salePrice}, STATUS=#{status}, TITLE=#{title}, CONTENT=#{content} WHERE NO=#{no}
  	</update>
  	
  	<delete id="bbsDeleteOne" parameterType="int">
  	DELETE FROM BBSLIST WHERE NO=#{value}
  	</delete>
  	
  </mapper>